img {
  border-radius: 100%;
  width: 225px;
}

input[type="file"] {
  display: none;
}

label{
  color: white;
}

.loading-label{
  position: absolute;
  top:85px; 
  left:70px
}

.btn {
  background-color:#777777;
  position: absolute; 
  top:230px; 
  left:15px;
}