img {
  border-radius: 100%;
  width: 350px;
  display: block;
}

input[type="file"] {
  display: none;
}

label{
  border-radius: 600%;
  background-color: black;
  color: white;
  margin: auto;
  margin-top: 10px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}