.App {
  background: #d9dbda;
  margin: auto;
  height: 720px;
  width: 100%;
  border: 1px solid black;
  position: relative;
}

.ProfilePicture {
  position: relative;
  width: 225px;
  height: 225px;
  border: 1px solid black;
  background: #d9dbda;
  border-radius: 100%;
  margin-left: 10px;
  margin-top:10px;
}

.Description {
  width: 225px;
  height:310px;
  border: 1px solid black;
  margin-left:10px;
  margin-top:70px
}

.Experience {
  width: 600px;
  margin: auto;
  border: 1px solid black;
}