.App {
  background: #d9dbda;
  margin: auto;
  height: 720px;
  width: 100%;
  border: 1px solid black;
}

.ProfilePicture {
  width: 225px;
  height: 225px;
  border: 1px solid black;
  background: #d9dbda;
  border-radius: 100%;
  margin-left: 10px;
}